@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";

$primary: #ffe600;
$dark: #333333;
$secondary-dark: #666666;
$secondary: #999999;
$light: #eeeeee;
$success: #3483fa;

$theme-colors: (
  primary: $primary,
  dark: $dark,
  secondary: $secondary,
  light: $light,
  success: $success,
  info: $secondary-dark
);

@import "../../../node_modules/bootstrap/scss/bootstrap";
