<nav class="row mx-0 position-sticky justify-content-center">
  <div class="col-3 col-md-2 col-lg-1">
    <img
      class="d-block py-2 h-100 w-auto mx-auto"
      src="assets/img/Logo_ML.png"
      alt="Logo ML">
  </div>
  <div class="col-7 col-md-8 col-lg-9 my-auto">
    <form class="form-inline m-0">
      <div class="input-group w-100">
        <input
          type="search"
          class="form-control search-box"
          placeholder="Nunca dejes de buscar"
          aria-label="Nunca dejes de buscar"
          aria-describedby="button-addon2">
        <div class="input-group-append">
          <button
            class="btn btn-light btn-search"
            type="button"
            id="button-addon2">
            <img
              src="assets/img/ic_Search.png"
              class="d-block img-fluid"
              alt="search">
          </button>
        </div>
      </div>
    </form>
  </div>
</nav>
